@charset "UTF-8";

*{
    margin: 0;
}
img{
    margin: auto;
    display: block;

}
body{
    background-image: url(imagens/espaco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 200vh;
    background-size: 100vw;
}