@charset "UTF-8";

*{
    margin: 0;
}
img{
    margin: auto;
    display: block;
    margin-top: 170px;
}
body{
    background-image: url(imagens/espaco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}